body {
  font-family: "Inter", system-ui, sans-serif;
}

h1,
h3 {
  font-family: sans-serif;
  font-weight: 500;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
}
