@use "theme";
@use "navbar";
@use "hero";
@use "sections";
@use "footer";
@use "typography";
@use "contacto";
@use "proceso";
@use "sticky";
@use "facu";

body {
  background-color: #fdf3ea;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  background-size:
    4px 4px,
    6px 6px;
  background-position:
    0 0,
    2px 2px;
}

.process-card {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.animate-from-left {
  transform: translateX(-40px);
}

.animate-from-right {
  transform: translateX(40px);
}

.is-visible {
  opacity: 1;
  transform: translate(0);
}

@media (max-width: 768px) {
  .animate-from-left {
    transform: translateY(20px);
  }

  .animate-from-right {
    transform: translateY(20px);
  }
}
